@font-face {font-family: 'arron'; src: url('../fonts/arron_script.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'comic'; src: url('../fonts/comicSans.ttf') format('truetype'); font-weight: normal; font-style: normal;}

.font0{
    font-family: 'Times New Roman', Times, serif;
}
.font1{
    font-family: "comic";
}
.font2{
    font-family: "arron";
}
.color0{
    color:Black;
}
.color1{
    color:Red;
}
.color2{
    color:Blue;
}
.color3{
    color:Green;
}
.color4{
    color:pink;
}
.color5{
    color:orange;
}
.color6{
    color:Purple;
}