@font-face {font-family: 'arron'; src: url('../fonts/arron_script.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'comic'; src: url('../fonts/comicSans.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'edosz'; src: url('../fonts/edosz.ttf') format('truetype'); font-weight: normal; font-style: normal;}


body{
    background-color:#23272A;
    height: 100vh;
    margin: 0;
}

h2 {
    font-size: 4em;
    margin-top: 1vh;
    text-align: center;
}
.container{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column;
    color: white;
    background-color:#2C2F33;
}

#header{
    margin: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0;
}

#headerMain{
    font-family:'edosz';
    margin-top: 0;
    margin-bottom: 0;
}

#chat_form{
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#msg {
    width: 90vw;
    height: 10vh;
    font-size: 3em;
}

#chat_content {
    margin: 0 auto;
    width: 90vw;
    max-height: 40vh;
    font-size: 2em;
    overflow: scroll;
}

#styleText {
    display: flex;
    justify-content: space-around;
    font-size: 3em;
}

select {
    width: 30vw;
    height: 5vh;
    font-size: 0.5em;
    overflow: scroll;
}

option {
    font-size: 0.5em;
}

#send {
    font-size: 2em;
    width: 90vw;
    height: 5vh;
}

#logout {
    display: flex;
    justify-content: center;
}

#logout input {
    font-size: 3em;
    height: 5vh;
    width: 40vw;
}

@media only screen and (max-width : 800px) {
    #headerMain{
        font-size: 50pt;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width : 801px) {
    .container{
        max-width: 850px;
    }

    #headerMain{
        font-size: 70pt;
        margin-bottom: 8%;
    }
}

.font0{
    font-family: 'Times New Roman', Times, serif;
}
.font1{
    font-family: "comic";
}
.font2{
    font-family: "arron";
}
.font3{
    font-family: "edosz";
}
.color0{
    color: White;
}
.color1{
    color:Red;
}
.color2{
    color:Blue;
}
.color3{
    color:Green;
}
.color4{
    color:pink;
}
.color5{
    color:orange;
}
.color6{
    color:Purple;
}
.color7{
    color: Black;
}
